<ion-toolbar [color]="colorTheme[0]">
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="settings-outline" md="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar placeholder="Search Notes"></ion-searchbar>
</ion-toolbar>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <div class="character player-character" [style.background-image]="'url(' + selectedPlayerImage + ')'"></div>

    </ion-col>
    <ion-col>
      <div>
        <div class="character enemy-character" [style.background-image]="'url(' + selectedEnemyImage + ')'"></div>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>

<ion-toolbar>
  <ion-segment value="all">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>