<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false">

      <ion-icon alt="home" [src]="homeIcon" size="large"></ion-icon>
    </ion-menu-button> 
    <!-- <ion-button (click)="goHome()" shape="round">
      <ion-icon alt="home" [src]="homeIcon" size="large"></ion-icon>

    </ion-button> -->
  </ion-buttons>
  <ion-label>{{ headerTitle }}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="searchOpen()" shape="round">
      <ion-icon alt="search" slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button (click)="presentModal()" shape="round">
      <ion-icon alt="options" slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>