.character-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.character-select-dropdown {
    justify-content: center;
    align-items: center;
}

.character {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.player-character {
    justify-content: flex-start;
}

.enemy-character {
    justify-content: flex-end;
}

.toolbar {
    padding-top: env(safe-area-inset-top);
}

.header-label {
    font-family: "Roboto Condensed",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
}