<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon (click)="dismissNote()" name="chevron-back-outline" size="large" slot="start"></ion-icon>
    <ion-title>
      {{ note?.player | normalizeName }} vs. {{ note?.enemy | normalizeName }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveNote()" color="primary">
        <ion-label>Save</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="versus-container">
    <ion-avatar (click)="changePlayer()" slot="start">
      <ion-img alt={{note?.player}} [src]="loadFighterImage(note?.player)"></ion-img>
    </ion-avatar>

    <ion-avatar (click)="changeEnemy()" slot="end">
      <ion-img alt={{note?.enemy}} [src]="loadFighterImage(note?.enemy)"></ion-img>
    </ion-avatar>
  </div>

  <ion-item lines="none">
    <ion-label position="floating">Note Title</ion-label>
    <ion-input type="text" [attr.readonly]="!hasOwnership()" [(ngModel)]="note.title" placeholder="Note Title">
    </ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Note Body</ion-label>
    <ion-input *ngIf="!hasOwnership()" [attr.readonly]="!hasOwnership()" type="text" [innerHTML]="note.body">
    </ion-input>
  </ion-item>


  <quill-editor *ngIf="hasOwnership()" (onContentChanged)="editorChanged($event)" [style]="{ height: '100px' }"
    [(ngModel)]="note.body"></quill-editor>

  <ng-container *ngIf="hasOwnership()">
    <ion-item>

      <ion-icon [name]="visibilityIcon" slot="start"></ion-icon>
      <ion-label>Share to Others</ion-label>
      <ion-checkbox slot="start" [ngModel]="note.visible" (ionChange)="onChangeVisibility($event)" slot="end">
      </ion-checkbox>

    </ion-item>

    <ion-item>
      <ion-button color="danger" fill="outline" expand="block" (click)="deleteConfirm()">Delete Note</ion-button>
    </ion-item>

  </ng-container>

  <!--
  <ion-item>
    <ion-buttons>
      <ion-button>
        <ion-icon (click)="presentActionSheet()" size="large" name="share-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon (click)="presentActionSheet()" size="large" name="qr-code-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item> -->


</ion-content>