.versus-container {
    display: flex;
    justify-content: space-evenly;
}

.dismiss {
    :hover {
        transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: rotate(360deg);
    }
}

.player {
    justify-content: flex-start;
    transform: scaleX(-1);
    &:hover {
        transform: translate3d(1062px, 1688px, 0px);
    }
}

.enemy {
    justify-content: flex-end;
    &:hover {
        transform: translate3d(1062px, 1688px, 0px);
    }
}

.back-arrow {
    transform: scaleX(-1) scale(1.3);
}

.text-notearea {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#container {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
}

.fighter-image {
    --border-radius: 0.5rem;
    background: #bd2e41 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
}

.enemy-image {
    --border-radius: 0.5rem;
    background: #31559e url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
}

.swap-icon {
    height: 100px;
    width: 80px;
}

ion-avatar {
    height: 100px;
    width: 100px;
}

.form-field {
    font-weight: bold;
    font-size: 16px;
}

ion-input {
    border-bottom: 1px solid black;
}