<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon (click)="dismissNote()" name="chevron-back-outline" size="large" slot="start"></ion-icon>
    <ion-title>
      {{ note?.player | normalizeName }} vs. {{ note?.enemy | normalizeName }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveNote()" color="primary">
        <ion-label>Save</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="versus-container">
    <ion-avatar (click)="changePlayer()" slot="start">
      <img class="fighter-image" alt={{note?.player}} [src]="note?.player | fighterImage" />
    </ion-avatar>

    <ion-avatar (click)="swapCharacters()">
      <ion-icon class="swap-icon" size="large" name="swap-horizontal-outline"></ion-icon>
    </ion-avatar>

    <ion-avatar (click)="changeEnemy()" slot="end">
      <img class="enemy-image" alt={{note?.enemy}} [src]="note?.enemy | fighterImage" />
    </ion-avatar>
  </div>

  <ion-item lines="full">
    <ion-label class="form-field" position="floating">Note Title</ion-label>
    <ion-input type="text" [attr.readonly]="!hasOwnership()" [(ngModel)]="note.title"></ion-input>
  </ion-item>

  <div *ngIf="hasOwnership()" [froalaEditor]="froalaOptions" [(froalaModel)]="note.body"></div>

  <!-- <quill-editor *ngIf="hasOwnership()" class="quill-editor" placeholder="Enter note text here" [modules]="modules"
    (onContentChanged)="editorChanged($event)" (onEditorCreated)="editorCreated($event)" [(ngModel)]="note.body">
  </quill-editor> -->

  <!-- <ion-item *ngIf="note.body && !hasOwnership()" lines="none">
    <ion-label class="form-field" position="floating">Note Body</ion-label><br>
    <quill-view-html [content]="note.body"></quill-view-html>
  </ion-item> -->
  
  <div *ngIf="note.body && !hasOwnership()" [froalaView]="note.body"></div>

  <ng-container *ngIf="hasOwnership()">
    <ion-item lines="full">
      <ion-icon [name]="visibilityIcon" slot="start"></ion-icon>
      <ion-label>Share to Others</ion-label>
      <ion-checkbox slot="start" [ngModel]="note.visible" (ionChange)="onChangeVisibility($event)" slot="end">
      </ion-checkbox>

    </ion-item>

    <ion-item lines="none">
      <ion-button color="danger" fill="outline" expand="block" (click)="deleteConfirm()">Delete Note</ion-button>
    </ion-item>

  </ng-container>

  <!--
  <ion-item>
    <ion-buttons>
      <ion-button>
        <ion-icon (click)="presentActionSheet()" size="large" name="share-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon (click)="presentActionSheet()" size="large" name="qr-code-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item> -->


</ion-content>