<ion-content>

  <ion-grid class="grid1">
    <ion-row [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}" class="row1">
      <ion-col class="img-container">
        <img class="logo">
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="app-title ion-text-uppercase">Login</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
                <ion-item>
                  <ion-icon name="mail-outline" slot="start" class="icon-login"></ion-icon>
                  <ion-label>Email</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="key-outline" slot="start" class="icon-login"></ion-icon>
                  <ion-label color="primary">Password</ion-label>
                  <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
                </ion-item>
                <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Sign In</ion-button>
                <label class="ion-text-center" color="danger">{{errorMsg}}</label>
              </form>
              <ion-item>
                <firebase-ui></firebase-ui>

              </ion-item>
              <p class="ion-text-center">Not registered yet? <a (click)="goToSignup()">Register</a></p>

              <!-- Size=12 is the size the col will be below the sm breakpoint, 
                whilst 3 is the size above the breakpoint -->
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>