.app-title {
    font-size: 6vw;
    font-weight: bold;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    color: var(--ion-color-primary);
}


.login-form {
    background-color: transparent;
}

ion-grid {
    height: 100%;
}

ion-content {
    height: 100%;
}

ion-row {
    height: 100%;
}

// Test

.grid1 {
    height: 100%;
    padding: 0px;
}

.container-login {
    width: 90%;
    padding: 10px;
    background: var(--ion-background-color);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.row1 {
    background-size: cover;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: -50px !important;
}

.logo {
    background: url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
.img-container {
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}