ion-content {
  height: 100vh;
  --padding-start: 20px;
  --padding-end: 20px;
}

@media only screen and (min-width: --ion-grid-width-sm) {
  ion-avatar {
    height: 5rem;
    width: 5rem;
  }
}

.ion-col {
  align-self: stretch;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100vw;
}

img {
  border-radius: 0.5rem;
}

.slides {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

ion-card {
  padding: 7px;
  margin: 0px;
  max-height: 208px !important;
}

ion-card-content,
p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
