ion-content {
    height: 100vh;
}

ion-avatar {
    height: 55px;
    width: 80px;
}

img {
    border-radius: 0.5rem;
}

.slides {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}
