<ion-header transparent="true" #homeToolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round">
        <ion-icon src="assets/navigation/header_bar_ico.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label *ngIf="!searchBarEnabled">Smash Notes - Home</ion-label>
    <ion-searchbar #seachbar *ngIf="searchBarEnabled" (ionInput)="setFilteredItems($event)"
      (ionCancel)="cancelSearch($event)" type="text" placeholder="Search text" clearInput [value]="searchValue">
    </ion-searchbar>


    <ion-buttons slot="end">
      <ion-button *ngIf="!searchBarEnabled" (click)="toggleSearch(); focusSearchbar()" shape="round">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="searchBarEnabled" (click)="cancelSearch($event); resetNotes()" shape="round">
        Cancel
      </ion-button>
      <ion-button (click)="presentModal()" shape="round">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" [appHideHeader]="homeToolbar">
  <ion-list *ngIf="!dataLoaded">
    <div class="skeleton-list">
      <ion-item *ngFor="let j of [].constructor(10)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>

    <ng-container *ngIf="gridLayout || masonryLayout">
      <div class="skeleton-grid" *ngFor="let i of [].constructor(8)">
        <ion-row class="ion-nowrap">
          <ion-col class="home-col" [size]="12 / exteraCol" *ngFor="let j of [].constructor(exteraCol)">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-avatar slot="end">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>

                </ion-item>
                <ion-card-subtitle>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="dataLoaded && notes.length === 0">
    <ion-item lines="none">
      <ion-label class="ion-text-center ion-text-wrap">
        <h2>No Notes</h2>
        <p>Start adding a note by clicking <ion-icon size="large" src='assets/navigation/plus-square-outline.svg'>
          </ion-icon> at the bottom</p>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && defaultLayout">
    <ion-list class="list-layout">
      <ion-virtual-scroll [items]="notes">
        <ion-item lines="full" class="col col-50" (click)="openNote(note)" *virtualItem="let note">
          <ion-avatar slot="start">
            <ion-img alt={{note?.player}} [src]="note?.player | fighterImage"></ion-img>
          </ion-avatar>
          <ion-avatar slot="end">
            <ion-img alt={{note?.enemy}} [src]="note?.enemy | fighterImage"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{note.title}}</h2>
            <quill-view-html *ngIf="note?.body" [content]="note?.body" theme="snow"></quill-view-html>
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && masonryLayout">
    <ngx-masonry class="masonry-layout" [options]="masonryOptions">
      <smash-masonry-card ngxMasonryItem class="masonry-item" (click)="openNote(note)"
        *ngFor="let note of notes; let i = index; trackBy: trackNotes" [note]="note"
        [playerImage]="note.player | fighterImage" [enemyImage]="note.enemy | fighterImage">
      </smash-masonry-card>
    </ngx-masonry>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && gridLayout">
    <ion-virtual-scroll class="grid-layout" [items]="notes | virtualListIndex: exteraCol : nextPipe">
      <div *virtualItem="let note; let i = index">
        <ion-row class="ion-nowrap ion-align-self-start">
          <ion-col class="home-col" [size]="12 / exteraCol" *ngFor="let j of note;">
            <!-- Card that is last index -->
            <ion-card *ngIf="j === notes.length" class="ion-padding" (click)="openNote(notes[j-1])">
              <ion-card-header>
                <div class="card-fighters">
                  <ion-img alt={{notes[j-1]?.player}} [src]="notes[j-1]?.player | fighterImage"></ion-img>
                  <ion-img alt={{notes[j-1]?.enemy}} [src]="notes[j-1]?.enemy | fighterImage"></ion-img>
                </div>
                <ion-card-title>
                  <p>{{notes[j]?.title}}</p>
                </ion-card-title>
                <quill-view-html *ngIf="notes[j-1]?.body" [content]="notes[j-1]?.body" theme="snow"></quill-view-html>
              </ion-card-header>
            </ion-card>
            <!-- Cards that are not last index -->
            <ion-card *ngIf="j !== notes.length" class="ion-padding" (click)="openNote(notes[j])">
              <ion-card-header>
                <div class="card-fighters">
                  <ion-img alt={{notes[j]?.player}} [src]="notes[j]?.player | fighterImage"></ion-img>
                  <ion-img alt={{notes[j]?.enemy}} [src]="notes[j]?.enemy | fighterImage"></ion-img>
                </div>
                <ion-card-title>
                  <p>{{notes[j]?.title}}</p>
                </ion-card-title>
                <quill-view-html *ngIf="notes[j]?.body" [content]="notes[j]?.body" theme="snow"></quill-view-html>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-virtual-scroll>
  </ng-container>

  <ion-infinite-scroll [threshold]="infiniteScrollThreshold" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>