<ion-header transparent="true" #homeToolbar>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon alt="home" src="assets/navigation/header_bar_ico.svg" size="large"></ion-icon>
      </ion-menu-button> 
    </ion-buttons>
    <ion-label class="header-label">Smash Notes - Discover</ion-label>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon alt="search" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon alt="options" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" [appHideHeader]="homeToolbar">
  <ion-list *ngIf="!dataLoaded">
    <div class="skeleton-list">
      <ion-item *ngFor="let j of [].constructor(10)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>

    <ng-container *ngIf="gridLayout || masonryLayout">
      <div class="skeleton-grid" *ngFor="let i of [].constructor(8)">
        <ion-row class="ion-nowrap">
          <ion-col class="home-col" [size]="12 / exteraCol" *ngFor="let j of [].constructor(4)">
            <ion-card>
              <ion-card-header>
                <ion-item lines="none">
                  <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-avatar slot="end">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>

                </ion-item>
                <ion-card-subtitle>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="dataLoaded && notes.length === 0">
    <!-- <ion-list> -->
    <ion-item lines="none">
      <ion-label class="ion-text-center ion-text-wrap">
        <h2>No Notes</h2>
        <p>Start adding a note by clicking <ion-icon size="large" src='assets/navigation/plus-square-outline.svg'>
          </ion-icon> at the bottom</p>
      </ion-label>
    </ion-item>

    <!-- </ion-list> -->
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length">
    <ion-list class="list-layout">
      <ion-item lines="full" class="col col-50" (click)="openNote(note)"
        *ngFor="let note of notes; trackBy: trackNotes">
        <ion-avatar slot="start">
          <ion-img alt={{note?.player}} [src]="note?.player | fighterImage"></ion-img>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-img alt={{note?.enemy}} [src]="note?.enemy | fighterImage"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{note.title}}</h2>
          <p [innerHTML]="note.body"></p>
          <!-- <p>{{note.body}}</p> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && defaultLayout">
    <ion-list>
      <ion-item lines="full" class="col col-50" (click)="openNote(note)"
        *ngFor="let note of notes; trackBy: trackNotes">
        <ion-avatar slot="start">
          <ion-img alt={{note?.player}} [src]="note?.player | fighterImage"></ion-img>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-img alt={{note?.enemy}} [src]="note?.enemy | fighterImage"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{note.title}}</h2>
          <p [innerHTML]="note.body"></p>
          <!-- <p>{{note.body}}</p> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && masonryLayout">
    <ngx-masonry class="masonry-layout" [options]="masonryOptions">
      <smash-masonry-card ngxMasonryItem class="masonry-item" (click)="openNote(note)"
        *ngFor="let note of notes; let i = index; trackBy: trackNotes" [note]="note"
        [playerImage]="note.player | fighterImage" [enemyImage]="note.enemy | fighterImage">
      </smash-masonry-card>
    </ngx-masonry>
  </ng-container>

  <ng-container *ngIf="dataLoaded && notes.length && gridLayout">
    <ion-virtual-scroll class="grid-layout" [items]="notes | virtualListIndex: exteraCol : nextPipe">
      <div *virtualItem="let note; let i = index">
        <ion-row class="ion-nowrap ion-align-self-start">
          <ion-col class="home-col" [size]="12 / exteraCol" *ngFor="let j of note;">
            <ion-card class="ion-padding" (click)="openNote(notes[j])">
              <ion-card-header>
                <ion-item lines="none">
                  <ion-avatar slot="start">
                    <ion-img alt={{notes[j]?.player}} [src]="notes[j]?.player | fighterImage"></ion-img>
                  </ion-avatar>
                  <ion-avatar slot="end">
                    <ion-img alt={{notes[j]?.enemy}} [src]="notes[j]?.enemy | fighterImage"></ion-img>
                  </ion-avatar>

                </ion-item>
                <ion-card-title>
                  <p>{{notes[j]?.title}}</p>
                </ion-card-title>
                <quill-view-html *ngIf="notes[j]?.body" [content]="notes[j]?.body" theme="snow"></quill-view-html>

                <!-- <ion-card-content>
                  <p [innerHTML]="notes[j]?.body"></p>
                </ion-card-content> -->
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-virtual-scroll>
  </ng-container>

  <ion-infinite-scroll [threshold]="infiniteScrollThreshold" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>