<ion-header translucent>
  <app-feature-toolbar headerTitle="Smash Notes - Home"></app-feature-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dataLoaded">
    <ng-container *ngIf="!notes.length">
      <ion-slide class="slides">
        <h2>No Notes</h2>
        <ion-button fill="clear">Get started by creating a note<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ng-container>
    <ng-container #elseBlock *ngFor="let note of notes; trackBy: trackNotes">

      <ion-item (click)="openNote(note)">
        <ion-avatar slot="start">
          <ion-img alt={{note?.player}} [src]="loadFighterImage(note?.player)"></ion-img>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-img alt={{note?.enemy}} [src]="loadFighterImage(note?.enemy)"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{note.title}}</h2>
          <p>{{note.body}}</p>
        </ion-label>
      </ion-item>
    </ng-container>

  </ion-list>

  <ion-list *ngIf="!dataLoaded">
    <ng-container *ngFor="let skeletonRow of [].constructor(15)">
      <!-- <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <!-- <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
