<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()" color="primary">
        Apply
      </ion-button>
    </ion-buttons>
    <ion-title>Filter Notes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

 
    <ion-chip>
      <ion-icon name="heart" color="dark"></ion-icon>
      <ion-label>Default</ion-label>
    </ion-chip>
    
    <ion-chip>
      <ion-label>Button Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Icon Chip</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
