.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.selected-player {
  background: #bd2e41 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
}

.selected-enemy {
  background: #31559e url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
}

.avatar {
  border-radius: 0.5rem;
}

ion-img {
  height: 100px;
  width: 100px;
}
