<ion-tabs>

  <smash-feature-tabs></smash-feature-tabs>

</ion-tabs>

<!-- <app-feature-floating-action></app-feature-floating-action> -->

<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button type="button">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button type="button" color="dark"><ion-icon name="list-outline"></ion-icon>></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="pie-chart-outline"></ion-icon></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="cash-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab> -->