<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [src]="homeIcon" size="large"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [src]="discoverIcon" size="large"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
    </ion-tab-button>

    <ion-tab-button (click)="displayFighterModal()" tab="tab3">
      <ion-icon [src]="fighterIcon"></ion-icon>
      <ion-label>Fighter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Notebook</ion-label>
    </ion-tab-button>

    <!-- /assets_v2/img/common/sprite.svg#arrow_prev -->

  </ion-tab-bar>

</ion-tabs>

<app-feature-floating-action></app-feature-floating-action>

<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button type="button">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button type="button" color="dark"><ion-icon name="list-outline"></ion-icon>></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="pie-chart-outline"></ion-icon></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="cash-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab> -->