<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-item *ngFor="let block of discovery; index as position">
    <ion-thumbnail slot="start">
      <ion-img [src]="block.svg"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{block.name}}</h2>
    </ion-label>
  </ion-item>
  
</ion-content>