<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides class="discover-slides" [options]="sliderConfig">
    <ion-slide *ngFor="let discover of discovery; index as position">
      <ion-card [ngClass]="discover.class" class="discover-card">
        <ion-card-header>
          <ion-img class="discover-image" [src]="discover.bg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="discover-text">{{discover.name}}</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-list>
    <ion-item (click)="openNote(note)" *ngFor="let note of notes; trackBy: trackNotes">
      <ion-avatar slot="start">
        <ion-img alt={{note.player}} [src]="loadFighterImage(note.player)"></ion-img>
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-img alt={{note.enemy}} [src]="loadFighterImage(note.enemy)"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{note.title}}</h2>
        <p [innerHTML]="note.body"></p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>