<ion-header class="toolbar" transparent="true" #discoverToolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon alt="home" src="assets/navigation/header_bar_ico.svg" size="large"></ion-icon>
      </ion-menu-button> 
      <!-- <ion-button (click)="goHome()" shape="round">
        <ion-icon alt="home" [src]="homeIcon" size="large"></ion-icon>
  
      </ion-button> -->
    </ion-buttons>
    <ion-label class="header-label">Smash Notes - Discover</ion-label>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon alt="search" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon alt="options" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="discoverToolbar">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="loadData($event)" value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides class="discover-slides" [options]="sliderConfig">
    <ion-slide *ngFor="let discover of discovery; index as position">
      <ion-card (click)="filterBy(discover.filter)" [ngClass]="discover.class" class="discover-card">
        <ion-card-header>
          <ion-img class="discover-image" [src]="discover.bg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="discover-text">{{discover.name}}</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="!dataLoaded">
    <div class="skeleton-list">
      <ion-item *ngFor="let j of [].constructor(15)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-list *ngIf="dataLoaded">
    <ng-container *ngIf="notes.length === 0">
      <ion-item lines="none">
        <ion-label class="ion-text-center ion-text-wrap">
          <h2>No Notes Found By Others</h2>
          <p>Why not create and share a note?</p>
          <p>
            Start adding a note by clicking <ion-icon size="large" src='assets/navigation/plus-square-outline.svg'>
            </ion-icon> at the bottom
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ion-item (click)="openNote(note)" *ngFor="let note of notes; trackBy: trackNotes">
      <ion-avatar slot="start">
        <ion-img alt={{note.player}} [src]="note.player | fighterImage"></ion-img>
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-img alt={{note.enemy}} [src]="note.enemy | fighterImage"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{note.title}}</h2>
        <!-- <p [innerHTML]="note.body"></p> -->
        <quill-view-html *ngIf="note?.body" [content]="note?.body"></quill-view-html>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>