<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <!-- Size=12 is the size the col will be below the sm breakpoint, 
        whilst 3 is the size above the breakpoint -->
      <ion-col size="12" size-sm="6">
        <div class="blog__contents">

        <div class="blog__bg">
          <div class="blog__bg-img"><span id="js-blog-bg" style="transform: translate3d(0px, -27.6225px, 0px);"></span></div>
        </div>
        <div class="blog-header">
          <h2 class="blog-header__title"><span class="u-ir app-title">SUPER SMASH NOTES</span></h2>
        </div>
      </div>

      </ion-col>
      <ion-col size="12" size-sm="6" class="login-form">
        <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
      
          <ng-container *ngFor="let error of error_msg.email">
            <div
              *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
      
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
      
          <ng-container *ngFor="let error of error_msg.password">
            <div
              *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
      
          <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Sign In</ion-button>
      
          <label class="ion-text-center" color="danger">{{errorMsg}}</label>
        </form>
        <p class="ion-text-center">Not registered yet? <a (click)="goToSignup()">Register</a></p>
        <!-- <ion-button type="submit" (click)="signInAnonymously()" expand="block">Sign in Anonymously</ion-button> -->
        <firebase-ui></firebase-ui>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- logo-twitter, logo-apple, logo-google, logo-facebook, logo-microsoft -->
  


</ion-content>