// Icons

.sns-bnr__item--twitter .sns-bnr__btn-ico {
    background: #1b95e0;
    display: inline-block;
    fill: #FFF;
}

.sns-bnr__item--facebook .sns-bnr__btn-ico {
    background: #4267b2;
    display: inline-block;
    fill: #FFF;
}

.sns-bnr__item--microsoft .sns-bnr__btn-ico {
    background: #2f2f2f;
    display: inline-block;
}

.sns-bnr__item--google .sns-bnr__btn-ico {
    background: #fff;
    border-color: #4285F4;
    display: inline-block;
    fill: #FFF;
}

.sns-bnr__item--github .sns-bnr__btn-ico {
    background: #24292e;
    display: inline-block;
    fill: #FFF;
}

.sns-bnr__item--apple .sns-bnr__btn-ico {
    background: black;
    display: inline-block;
    fill: #FFF;
}

// Body

.sns-bnr__item--twitter .sns-bnr__body {
    background: #1b95e0 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__item--facebook .sns-bnr__body {
    background: #4267b2 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__item--microsoft .sns-bnr__body {
    background: #2f2f2f url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
    border: 1px #8c8c8c
}

.sns-bnr__item--google .sns-bnr__body {
    background: #4285F4 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__item--github .sns-bnr__body {
    background: #24292e url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__item--apple .sns-bnr__body {
    background: black url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__label {
    width: 100%;
    font-size: 12px;
}

.sns-br__item {
    display: block;
    height: 1rem;
}

.sns-bnr__btn {

    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    outline: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    :hover {
        ::before {
            display: block;
            -webkit-transition: top,.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: top,.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-transform: skewY(-29deg);
            transform: skewY(-29deg);
            position: absolute;
            top: -350px;
            left: 0;
            background-color: rgba(255,255,255,0.15);
            content: "";
            width: 100%;
            height: 260px;
            z-index: 1;
        }

    }
}

.sns-bnr__body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    position: relative;
    margin-left: 2px;
    background: #1b95e0 url("/assets/portraits/ptn_diagonal_12.webp") 0 0;
    background-size: 6px;
}

.sns-bnr__label {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 1;
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) scaleX(0.93);
    width: 100%;
    font-size: 12px;
}

.sns-bnr {
    margin: 0;
    padding-left: 0;
    list-style: none;
    margin-left: 12%;
}
