<ion-tabs [slot]="tabsPlacement">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [src]="homeIcon" size="default"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [src]="discoverIcon" size="default"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentActionSheet()">
      <ion-icon [src]="createIcon" size="extra-large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="displayFighterModal()" tab="tab3" tabBadge="3">
      <ion-icon [src]="fighterIcon" size="default"></ion-icon>
      <ion-label>Fighters</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab4">
      <ion-icon [src]="notebookIcon" size="default"></ion-icon>
      <ion-label>Notebook</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4">
      <ion-icon [src]="settingsIcon" size="default"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <!-- /assets_v2/img/common/sprite.svg#arrow_prev -->

  </ion-tab-bar>
</ion-tabs>