<ion-tabs class="tabs" [slot]="tabsPlacement">
  <ion-tab-bar [translucent]="true" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [src]="homeIcon" size="default"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon [src]="discoverIcon" size="default"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentActionSheet()">
      <ion-icon [src]="createIcon" size="extra-large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="fighters" tabBadge="3">
      <ion-icon [src]="fighterIcon" size="default"></ion-icon>
      <ion-label>Fighters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [src]="settingsIcon" size="default"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
