<ion-header transparent="true" #toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" shape="round">
        <ion-icon [src]="homeIcon" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label *ngIf="!searchBarEnabled">Smash Notes</ion-label>
    <ion-searchbar *ngIf="searchBarEnabled" type="text" placeholder="Search text" clearInput>
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="searchOpen()" shape="round">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()" shape="round">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" [appHideHeader]="toolbar">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let fighter of fighters; index as position">
        <ion-card>
          <ion-card-header>
            <img src={{fighter.stockIcon}}>
            <ion-card-subtitle>{{fighter.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Total Notes: {{ 1 }} </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>