
<ion-header #toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" shape="round">
        <ion-icon [src]="homeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Smash Notes</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" [appHideHeader]="toolbar">
  <!-- <smash-feature-folders></smash-feature-folders> -->
  <app-explore-container></app-explore-container>
</ion-content>