<ion-header transparent="true">
  <ion-toolbar>
    <ion-title>
      FIghter Name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [appParallaxHeader]="image" [scrollEvents]="true">
  <div #image class="fighter-bg">
    <div class="fighter-bg_inner">
      <div class="parallax-image">
        <img class="fighter-image" alt="Background Image" [src]="background">
      </div>
      <div class="fighter-main">
        <img [src]="fighterImage">
      </div>
    </div>
  </div>


  <div class="main">
    <ion-list>
      <ng-container *ngFor="let data of chunkedData | keyvalue">
        <ion-list-header>
          {{data.key}}
        </ion-list-header>

        <ion-item *ngFor="let singleNote of data.value">
          <ion-avatar slot="start">
            <img src={{singleNote.enemyImage}}>
          </ion-avatar>
          <ion-label>
            <h2>{{singleNote.title}}</h2>
            <p>{{singleNote.body}}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>


</ion-content>