<ion-header transparent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" shape="round">
        <ion-icon [src]="fighterSeriesIcon" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>{{fighter?.name | normalizeName}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()" shape="round">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [appParallaxHeader]="image" [scrollEvents]="true">
  <div #image class="fighter-bg">
    <div class="fighter-bg_inner">
      <div class="parallax-image">
        <ion-img alt="background" class="fighter-bg" alt="Background Image" [src]="background"></ion-img>
      </div>
      <div class="fighter-main">
        <ion-img alt="fighter-image" class="fighter-image" [src]="fighterImage"></ion-img>
      </div>
    </div>
  </div>

  <div class="main">
    <ion-virtual-scroll *ngIf="dataLoaded" [items]="notes">
      <ion-item #note (click)="openNote(note)" *virtualItem="let note">
        <ion-avatar slot="start">
          <img src={{note.enemyImage}}>
        </ion-avatar>
        <ion-label>
          <h2>{{note.title}}</h2>
          <p>{{note.body}}</p>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>

    <ion-list *ngIf="!dataLoaded">
      <ng-container *ngFor="let skeletonRow of [].constructor(10)">
        <ion-list-header>
          <ion-label>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>


</ion-content>