.fighter-notebook {
  font-family: "Roboto Condensed",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
}

.stock-icon-image {
  height: 150px;
  width: 150px;
}

ion-badge {
  --padding-start: 5px;
}

ion-content {
  height: calc(100vh - var(--offset-bottom));
}
