<ion-header transparent="true" #toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" shape="round">
        <ion-icon [src]="homeIcon" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label *ngIf="!searchBarEnabled">Smash Notes - Fighters</ion-label>
    <ion-searchbar *ngIf="searchBarEnabled" (ionCancel)="cancelSearch($event)" type="text"
      placeholder="Search text" clearInput>
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!searchBarEnabled" (click)="toggleSearch()" shape="round">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="searchBarEnabled" (click)="toggleSearch()" shape="round">
       Cancel
      </ion-button>
      <ion-button (click)="presentModal()" shape="round">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)" [appHideHeader]="toolbar">

  <ng-container *ngIf="notebookLayout === 'virtual-div-grid'">
    <ion-virtual-scroll [items]="fighters | virtualListIndex: exteraCol : nextPipe">
      <div *virtualItem="let fighter; let i = index">
        <ion-row class="ion-nowrap">
          <ion-col class="home-col" [size]="12 / exteraCol" *ngFor="let j of fighter;">
            <ion-item lines="none" (click)="loadFighterPage(fighters[j])">
              <ion-img alt={{fighters[j]?.name}} class="stock-icon-image" [src]="loadFighterImage(fighters[j]?.name)"></ion-img>
              <ion-card-subtitle class="fighter-notebook">{{fighters[j]?.name | normalizeName | uppercase}}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-badge color="primary">40</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-virtual-scroll>
  </ng-container>

  <ng-container *ngIf="notebookLayout === 'virtual-grid'">
    <ion-virtual-scroll [items]="fighters | virtualListIndex: exteraCol : nextPipe">
      <ion-row *virtualItem="let fighter; let i = index">
        <ion-col *ngFor="let j of fighter" size-xl="3" size-lg="3" size-md="6" size-sm="12" size="12">
          <ion-item lines="inset" (click)="loadFighterPage(fighters[j])">
            <ion-img alt={{fighters[j]?.name}} class="stock-icon-image" [src]="loadFighterImage(fighters[j]?.name)"></ion-img>
            <ion-card-subtitle class="fighter-notebook">{{fighters[j]?.name | normalizeName }}</ion-card-subtitle>
            <ion-badge color="primary">40</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-virtual-scroll>
  </ng-container>


  <ng-container *ngIf="notebookLayout === 'virtual-item'">
    <ion-virtual-scroll [items]="fighters">
      <ion-item *virtualItem="let fighter">
        <ion-card>
          <ion-card-header>
            <ion-img src={{fighter.stockIcon}}></ion-img>
            <ion-card-subtitle class="fighter-notebook">{{fighter.name | normalizeName }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Total Notes: {{ 1 }} </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-virtual-scroll>
  </ng-container>

    <ng-container *ngIf="notebookLayout === 'grid'">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let fighter of fighters; trackBy: trackFighters" size-xl="3" size-lg="4" size-md="6" size-sm="12" size="12">
            <ion-item lines="inset" (click)="loadFighterPage(fighter)">
              <ion-img alt={{fighter?.name}} class="stock-icon-image" [src]="loadFighterImage(fighter?.name)"></ion-img>
              <ion-card-subtitle class="fighter-notebook">{{fighter?.name | normalizeName }}</ion-card-subtitle>
              <ion-badge color="primary">40</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>



</ion-content>
